/trimestre3/teoria/exemploGUI/nbproject/private/
/trimestre3/teoria/exemploGUI/build/
/trimestre3/boletines/boletin28/nbproject/private/
/trimestre3/boletines/boletin28/build/
/trimestre3/teoria/exemploPaleta/nbproject/private/
/trimestre3/teoria/exemploPaleta/build/
/trimestre3/boletines/boletin29/nbproject/private/
