/teoria/exemploArrays/nbproject/private/
/teoria/libreriaPedirDatos/nbproject/private/
/teoria/libreriaPedirDatos/dist/
/teoria/libreriaPedirDatos/build/
/teoria/exemploArrays/build/
/teoria/experimentosMios/nbproject/private/
/teoria/exArray_18ene/nbproject/private/
/teoria/experimentosMios/build/
/teoria/exemploString/nbproject/private/
/teoria/exemploString/build/
/teoria/boletin21/nbproject/private/
/teoria/boletin21/build/
/teoria/boletin21_2/nbproject/private/
/teoria/boletin21_2/build/
/teoria/exemploMatriz/nbproject/private/
/teoria/exemploMatriz/build/
/boletines/boletines21_4/nbproject/private/
/boletines/boletines21_4/build/
/boletines/boletin22/nbproject/private/
/boletines/boletin22/build/
/boletines/boletin21/build/
/boletines/boletin21_2,3/nbproject/private/
/boletines/boletin21_2,3/build/
/boletines/boletin24/nbproject/private/
/boletines/boletin24/build/
/teoria/exemploXenerico/nbproject/private/
/teoria/boletin26/nbproject/private/
/boletines/boletin26/Boletin26/nbproject/private/
/teoria/exemploFicheiros/nbproject/private/
/teoria/manejoErroresUndemy/nbproject/private/
/teoria/manejoExcepcionesUndemy/nbproject/private/
/teoria/manejoExcepcionesUndemy/build/
# Ignoro todas las carpetas build. con el slash lo borro de la principal

/teoria/ejemploExcepciones/build/
/teoria/exemploXenerico/build/
/teoria/prueba/nbproject/private/
/teoria/exemploFicheiros/build/
/boletines/boletin27/nbproject/private/
/teoria/teoriaFicherosUndmy/nbproject/private/
/teoria/teoriaFicherosUndmy/build/
/boletines/boletin27/build/
/boletines/boletin20/build/
/boletines/boletin26/Boletin26/build/
/boletines/Boletin27_v2/build/
/boletines/Boletin27_v2/nbproject/private/
/boletines/boletin27_v2/nbproject/private/
